<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>0.6.1</string>
	<key>ServerApiVersion</key>
	<string>2.0</string>
	<key>CFBundleDisplayName</key>
	<string>Energy EAGLE</string>
	<key>CFBundleIdentifier</key>
	<string>com.furmantation.indigoplugin.EnergyEAGLE</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http://www.furmantation.com/files/Energy-EAGLE.html</string>
		</dict>
	</array>
</dict>
</plist>
